<?xml version="1.0" encoding="utf-8"?>
<ConfigData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FileVersion>3.2.13.35486</FileVersion>
  <KeyMap>
    <ResetCamera>Space</ResetCamera>
    <ZoomSelected>KeypadPeriod</ZoomSelected>
    <AttachmentMode>T</AttachmentMode>
    <PartClipping>Z</PartClipping>
    <VerticalSnap>V</VerticalSnap>
    <HorizontalSnap>M</HorizontalSnap>
    <ToggleReRoot></ToggleReRoot>
    <ToggleNoOffsetLimit></ToggleNoOffsetLimit>
    <StartMasterSnap>LeftControl</StartMasterSnap>
    <CompoundPartAlign>U</CompoundPartAlign>
    <Up>UpArrow</Up>
    <Down>DownArrow</Down>
    <Left>LeftArrow</Left>
    <Right>RightArrow</Right>
    <Forward>RightShift</Forward>
    <Back>RightControl</Back>
  </KeyMap>
  <AngleSnapValues>
    <float>0</float>
    <float>1</float>
    <float>5</float>
    <float>15</float>
    <float>22.5</float>
    <float>30</float>
  </AngleSnapValues>
  <MaxSymmetry>20</MaxSymmetry>
  <RapidZoom>true</RapidZoom>
  <ReRootEnabled>true</ReRootEnabled>
  <NoOffsetLimitEnabled>false</NoOffsetLimitEnabled>
  <ShowDebugInfo>true</ShowDebugInfo>
  <OnScreenMessageTime>1.5</OnScreenMessageTime>
</ConfigData>